{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center mt-5 pt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label class="form-label d-block text-black" for="id_username">Usuário:</label>
                            <input type="text" name="username" class="form-control">
                        </div>
                        
                        <div class="mb-3">
                            <label class="form-label d-block text-black" for="id_password">Senha:</label>
                            <input type="password" name="password" class="form-control">
                        </div>

                        <button class="btn btn-warning w-100" type="submit">Entrar</button>
                    </form>
                    
                    <a href="{% url 'password_reset' %}" class="mt-2 d-block text-center text-white">Esqueci minha senha</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
