{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">
                <h1>Detalhes do Filme</h1>

                <div class="row">
                    <div class="col-lg-4">
                        <img src="https://image.tmdb.org/t/p/w500/{{ filme.poster_path }}" class="img-fluid" alt="{{ filme.original_title }}">
                    </div>
                    <div class="col-lg-8">
                        <h2>{{ filme.original_title }}</h2>
                        <p>{{ filme.overview }}</p>
                        <p>Ano de Lançamento: {{ filme.release_date }}</p>
                        <!-- Adicione outras informações do filme aqui -->
                    </div>
                </div>

                <!-- Formulário para marcar o filme como visto e adicionar um comentário -->
                <form action="{% url 'marcar_visto' filme_id=filme.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="comentario">Comentário:</label>
                        <textarea class="form-control" id="comentario" name="comentario" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Marcar como visto</button>
                </form>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}
