{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content"> 
                {% if not request.user.is_authenticated %}
                <!-- ***** Banner Start ***** -->
                <div class="main-banner">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="header-text">
                                <h6>Bem vindo ao CineFlix</h6>
                                <h4><em>Descubra</em> sua próxima grande aventura cinematográfica com facilidade!</h4>
                                <div class="main-button">
                                    <a href="{% url 'register' %}">Cadastre-se</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Banner End ***** -->
                <!-- ***** Most Popular Start ***** -->
                <div class="most-popular ">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="heading-section">
                                <h4>Mais Populares</h4>
                            </div>
                                {% if page_obj %}
                                    <div class="row">
                                        {% for video in page_obj %}
                                        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                                            <div class="card h-75 d-flex flex-column">
                                                <a href="{% url 'filme_details' video.id %}" class="{% if 'details' in request.path %}active{% endif %}">
                                                    <img src="https://image.tmdb.org/t/p/w500/{{ video.poster_path }}" class="card-img-top"
                                                        alt="{{ video.original_title }}">
                                                </a>
                                                <div class="card-body d-flex flex-column">
                                                    <h5 class="card-title">{{ video.original_title }}</h5>
                                                    <!-- <p class="card-text">{{ video.overview }}</p> -->
                                                    <div class="mt-auto"></div> <!-- Push content to the bottom -->
                                                </div>
                                            </div>
                                        </div>
                                        
                                        {% endfor %}
                                    </div>
                                    <!-- Pagination -->
                                    <div class="pagination justify-content-center">
                                        {% if page_obj.has_previous %}
                                            <a href="?page=1">&laquo; Primeira</a>
                                            <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                                        {% endif %}
                                        <span class="current">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
                                        {% if page_obj.has_next %}
                                            <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
                                            <span style="margin-right: 10px;"></span> <!-- Espaço -->
                                            <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
                                        {% endif %}
                                    </div>
                                    
                                {% else %}
                                    <p>Não há vídeos para exibir.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Most Popular End ***** -->
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
