<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                {% if profile.fotoPerfil %}
                    <img src="{{ profile.fotoPerfil.url }}" alt="Imagem de Perfil">
                {% else %}
                    <p>Imagem de perfil não encontrada</p>
                {% endif %}
                <h1 class="card-title">Perfil de {{ user.username }}</h1>
                <p class="card-text">Descrição: {{ profile.description }}</p>
                <p class="card-text">Data de Nascimento: {{ profile.dataDeNascimento }}</p>
                <h2>Filmes Favoritos:</h2>
                {% if profile.filmes.all %}
                    <ul>
                        {% for filme in profile.filmes.all %}
                            <li>{{ filme.original_title }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Nenhum filme favorito adicionado ainda.</p>
                {% endif %}
            </div>
            <a href="{% url 'atualizar_perfil' %}" class="btn btn-primary">Atualizar Perfil</a>
        </div>
    </div>
</body>
</html>
