{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ***** Profile Content Start ***** -->
<div class="container-fluid" style="margin-top: 100px;">
    <div class="row justify-content-center" >
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-body" style="background-color: #3a3535;">
                    <div style="width: 210px; height: 150px; overflow: hidden; border-radius: 50%; margin: 0 auto;">
                        {% if profile.fotoPerfil %}
                        <img src="{{ profile.fotoPerfil.url }}" alt="Imagem de Perfil" class="profile-image"
                            style="width: 120%; height: 100%;">
                        {% else %}
                        <p>Imagem de perfil não encontrada</p>
                        {% endif %}
                    </div>
                    <h1 class="card-title mt-4">{{ user.first_name }}</h1>
                    <p class="card-text" style="color: #fff;" >{{ profile.description }}</p>
                    <p class="card-text" style="color: #fff;" >Data de Nascimento: {{ profile.dataDeNascimento }}</p>
                    <a href="{% url 'atualizar_perfil' %}" class="btn btn-primary mt-3">Atualizar Perfil</a>
                    
                    <div class="container-fluid">
                        <h2 class="mt-4">Filmes Vistos:</h2>
                        <div class="row justify-content-center">
                            {% for filme in filmes_vistos %}
                                <div class="col-md-3 mb-4">
                                    <div class="card" style="width: 200px;">
                                        <img src="{{ filme.poster_url }}" class="card-img-top" alt="{{ filme.titulo }}">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Profile Content End ***** -->

{% endblock %}

<!-- Scripts -->
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

<script src="{% static 'js/isotope.min.js' %}"></script>
<script src="{% static 'js/owl-carousel.js' %}"></script>
<script src="{% static 'js/tabs.js' %}"></script>
<script src="{% static 'js/popup.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

<style>
    /* Estilos para o botão */
    .search-btn {
        background-color: #007bff; /* Cor de fundo do botão */
        color: #fff; /* Cor do texto do botão */
        border: none; /* Remover borda */
        padding: 10px 20px; /* Espaçamento interno do botão */
        cursor: pointer; /* Cursor ao passar por cima do botão */
        border-radius: 5px; /* Bordas arredondadas */
    }

    /* Estilos para o ícone */
    .search-icon {
        color: #fff; /* Cor do ícone */
        margin-right: 5px; /* Espaçamento à direita do ícone */
    }

    /* Estilos para a imagem de perfil */
    .profile-image {
        object-fit: cover;
    }
</style>
